a{
  text-decoration: none;
}



.navbar-icons .iconify{

  width: 40px; 
   height: 40px;
   margin: 5px;
   

}



#headertext{
  color: white;
  font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;

/* identical to box height */


color: #FFFFFF;

}

input[type="search"] {
  border-radius: 30px;
}

.w-50{
  width:40% !important;
}


.navb-text{
  font-size: 20px;
}


















